# Entornos virtuales
venv/
.env/

# Archivos de caché de Python
__pycache__/
*.py[cod]

# Archivos de configuración
config.json
*.ini

# Archivos de log
*.log

# Configuración de IDEs
.vscode/
.idea/
